{% extends 'base.html' %}

{% block content %}
<h3 class="text-center">All Tickets</h3>
<table id="tickettable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Computer ID</th>
            <th>User</th>
            <th>Notes</th>
            <th>Status</th>
            <th>Assignee</th>

        </tr>
    </thead>
    <tbody>
    {% for ticket in tickets %}
            <tr>
            <td><a href="/ticket/details/{{ ticket.id }}">{{ ticket.id }}</a></td>
            <td>{{ ticket.UniqueID }}</td>
            <td>{{ ticket.User }}</td>
            <td>{{ ticket.Summary }}</td>
            <td>{{ ticket.Status }}</td>
            <td>{{ ticket.Assignee }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>

{% endblock %}
