{% extends "base.html" %}

{% block content %}

<h1 class="text-center dashtitle">City of Athens IT - Dashboard</h1>
    <br />

<div class="dashboard-content">
<div class="row dashbox-container">
<h3 class="text-center">Hardware</h3>
<hr>
        <a href="/devices/">
            <div class="dashbox1 dashbox col-md-3">
                <p class="dashtitle1 text-center">Computers</p>
                <hr>
                <p class="dashnumber text-center">{{ total }}</p>
            </div>
        </a>

        <a href="/printers/">
            <div class="dashbox2 dashbox col-md-3">
                <p class="dashtitle2 text-center">Copiers</p>
                <hr>
                <p class="dashnumber text-center">{{ printers }}</p>
            </div>
        </a>

        <a href="/servers/">
            <div class="dashbox3 dashbox col-md-3">
                <p class="dashtitle3 text-center">Servers</p>
                <hr>
                <p class="dashnumber text-center">{{ servers }}</p>
            </div>
        </a>
</div>


<div class="row">
<h3 class="text-center">Status</h3>
<hr>
    <a href="/devices/changename/">
        <div class="dashbox4 dashbox col-md-3">
            <p class="dashtitle4 text-center">Rename</p>
            <hr>
            <p class="dashnumber text-center">{{ changename }}</p>
        </div>
    </a>

    <a href="/devices/update/">
        <div class="dashbox5 dashbox col-md-3">
            <p class="dashtitle5 text-center">Updates</p>
            <hr>
            <p class="dashnumber text-center">{{ updates }}</p>
        </div>
    </a>

    <a href="/devices/inspect/">
        <div class="dashbox6 dashbox col-md-3">
            <p class="dashtitle6 text-center">Inspect</p>
            <hr>
            <p class="dashnumber text-center">{{ inspect }}</p>
        </div>
    </a>

    <a href="/devices/replace/">
        <div class="dashbox7 dashbox col-md-3">
            <p class="dashtitle2 text-center">Replace</p>
            <hr>
            <p class="dashnumber text-center">{{ replace }}</p>
        </div>
    </a>
</div>

</div>
{% endblock %}