{% extends 'base.html' %}

{% block content %}
<h3 class="text-center">Ports List</h3>
<table id="devicestable">
    <thead>
        <tr>
            <th>Building</th>
            <th class="idColumn">Port</th>
            <th class="userColumn">Description</th>
            <th class="hidecolumn dateColumn">Room #</th>
        </tr>
    </thead>
    <tbody>
    {% for i in ports %}
        <tr>
            <td>{{ i.building }}</td>
            <td class="idcolumn"> <strong><a href="/ports/edit/{{ i.id }}/"> {{ i.number }} </a> </strong></td>
            <td class="userColumn"> {{ i.description }}</td>
            <td class="hidecolumn dateColumn" > {{ i.room }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>

{% endblock %}